.form {
    width: 400px;
    height: 600px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #78788c;
    color: #fff
}

div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

span {
    margin: 0 5px 0 15px
}

* {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    text-decoration: none;

}

body {
    background: url(İmage/Anasayfaarkaplan.jpg);

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/*Header başlangıcı*/
header .logo img {
    height: 10rem;
}

header {
    background-color: white;
    justify-content: space-between;
    display: flex;
    padding: 0 7%;
    position: sticky;


    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    top: 0;
    align-items: center;
    z-index: 1000;
    opacity: 0.8;
}

header .navbar a {
    margin: 3px;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid transparent;

}

header .navbar .active {
    border-color: black;
    padding-bottom: 5px;
}

header .navbar a:hover {

    border-color: black;
    padding-bottom: 5px;
}


/*Section*/
section {
    padding: 5rem 20%;

}

.home {
    min-height: 100vh;
    margin-top: -10.2rem;
    background-position: center;
    /*background: url(cropped-1920-1080-1202691.jpg) no-repeat;*/



    display: flex;
    align-items: center;
    box-shadow: inset 0px -21px 55px 0px rgba(0, 0, 0, 0.75);
    background-size: cover;
}

.home .content {
    max-width: 60rem;

}

.home .content h3 {
    font-size: 6rem;
    color: rgb(0, 0, 0);
}

.home .content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    padding: 1rem 0;
    color: #000000;
}

.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 30px 25px;
    border-radius: 300px;
    font-size: 17px;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}
.btn:hover {
    background: #78788c;
    color: #fff
}

.heading {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
    border-bottom: 1px solid #fff;

}

.heading span {
    text-transform: uppercase;
    color: black;

}